<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @high_score.subject %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @high_score.marks %>
</p>

<%= link_to 'Edit', edit_high_score_path(@high_score) %> |
<%= link_to 'Back', high_scores_path %>
